API_PORT=3333
URL_API_CANAIS_DIGITAIS=https://services.equatorialenergia.com.br/api

URL_API_YALO_OUTGOING=https://api-wa.yalochat.com/firehose/api/outgoing_webhook/bots
URL_API_YALO_NOTIFICATION=https://api-global.yalochat.com/notifications/api/v1/accounts/equatorial/bots
TOKEN_API_YALO_NOTIFICATION=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJUNUtNbHBiSGpKQ2RQSUtmdFZ5SUJBem5IUEllcThyMCJ9.EDZ45MU8V6tlEvAv1KAZeLtAwRSJgSg2bo5VzwNzdRE
TYPE_MESSAGE_YALO_START=sigaacompanhamento
TYPE_MESSAGE_YALO_CONCLUDE=sigaacompanhamento
TYPE_MESSAGE_YALO_CANCEL=sigaacompanhamento

HORA_INICIO_ATENDIMENTO=08
HORA_FIM_ATENDIMENTO=18
TELEFONES_TESTE=9882045774,9884299595